@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://media.istockphoto.com/id/1299920551/vector/online-video-conference-landing-page-concept-colleague-team-chatting.jpg?s=612x612&w=0&k=20&c=jc5aakIza2KvjuU2W-L-Jt4zd_evUp7DNg5OBfCIK3Q=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
