@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://img.freepik.com/free-vector/gradient-summer-background-videocalls_23-2148965821.jpg?w=996&t=st=1718961622~exp=1718962222~hmac=ab5d9bf6a7aa6df0eb41f15ea3605a7e2c731791123629af40dcbbf7729ac01d");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
